.footer {
  text-align: center;
  min-height: 50px;
  background-color: darkgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h3 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}